<% layout('/layouts/boilerplate.ejs') -%>
<%- include('../includes/filter.ejs') %>

<div class="carding">

  <% let found = false %>

    <% for(data of allData){ %>
    <% if(data.category == name) {  %>
    <% found = true %>
  <a href="/listings/<%= data._id  %>">
    <div class="card">
      <img src="<%= data.image.url %>" class="card-img-top" alt="Image" />
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
        <p class="card-text"><%= data.description %></p>
      
       <p class="card-price tax-off">
        Rs <%= data.price.toLocaleString("en-us") %>/night
      </p>
      <p class="card-price tax-on d-none">
        Rs <%= Math.round(data.price * 1.17).toLocaleString("en-us") %>/night (with tax)
      </p>
      </div>
    </div>
  </a>
  <% } %>
  <%}%>
  <% if(!found){ %>
    <h1 class="d-flex justify-content-center align-items-center w-100" style="grid-column: 1 / -1;min-height: 30vh;">No Results Found</h1>
    <% }%>
</div>
